<h3>World News</h3>
<!-- <div class="list-group">
  <a
    *ngFor="let article of articles"
    class="list-group-item-action"
    [href]="article.url"
    target="_blank"
    >{{ article.title }}</a
  >
</div> -->

<div class="card m-2" style="width: 18rem" *ngFor="let article of articles">
  <img [src]="article.urlToImage" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">
      {{ article.description }}
    </p>
    <a [href]="article.url" class="btn btn-primary">Read More</a>
  </div>
</div>
<app-paginator [numberOfPages]=""></app-paginator>
